@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg: #ebe8e8e3;
    --black: #121212;
    --blackv:rgba(18, 18, 18, 0.185);
    --pdx: 4em;
    --accent: #FF9600;
    --white: #F4F4F4;
}

@font-face {
    font-family: pop;
    src: url("./assets/fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: urba;
    src: url("./assets/fonts/Urbanist-Regular.ttf");
}

/*  */

body {
    background-color: var(--bg);
}

.pop {
    font-family: pop;
}

.urba {
    font-family: urba;
}

.linear {
    background-image: linear-gradient(to top right, var(--black), #ff950011);
}


.line {
    line-height: 1.2em;
}